body{
    background-color: black;
}
#lef{
    background-color:black;
    width: 650px;
    height:500px;
}
#righ{
    background-color:black;
    width: 650px;
    height:500px;
    /* margin-left:20px; */

}
h1{
    color: rgb(5, 5, 5);
}
.ma{
    display: flex;
    width:1300px;
    height:750px;
}
#lef img{
    height:450px;
    width: 400px;
    margin-left:250px;
    margin-top:150px;
    border-radius:50%;
    
}
#sidebar{
    position: absolute;
    width:200px;
    height:70%;
    background: black;
    left:-300px;
    transition:.4s;
}
#sidebar.active{
    left:0px;
}

#sidebar ul li{
    list-style: none;
    color: aliceblue;
    font-size:25px;
    padding: 20px 24px;
}
 #sidebar a{
    text-decoration: none;
    color: aliceblue;
    
 }
#sidebar .toggle-btn{
    position: absolute;
    top : 30px;
    left :310px;

}
.toggle-btn span{
    width:35px;
    height: 4px;
    background:rgb(247, 244, 244);
    display: block;
    margin-top: 4px;
}
.txt{
    font-size:20px;
    margin-top:260px;
    margin-right:80px;
    color: aliceblue;
    
}
.edi{
    color: yellow;
    font-weight:bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.txt h1{
    color: aliceblue;
    margin-top:90px;
    margin-left:-390px;
}
.link a{
    padding:0 50px;
    color:black;
    text-decoration-line:none;
    background:rgb(246, 250, 16);
    height:60px;
    width:40px;
    font-size: 30px;
    border-radius:50px;
    font-family:poppins;
    font-weight: bold;
}
 a :hover{
    background-color: aliceblue;

}
body h1{
    color: aliceblue;
    font-weight: 900;
    font-size:40px;
    text-align: center;
}
tr{
    font-size:20px;
  
}
table{
    border-spacing:30px;
    margin-top:130px;
    color: aliceblue;
}

td{
  
    margin-left:10%;


}
    #abt p{
        color:white;
        font-size:20px;
        text-align: center;
    }
#name{
    width:250px;
    height:40px;
    background-color: gray;
    color: black;
    border-radius:50px;
    
}
#mail{
    width:250px;
    height:40px;
    background-color:gray;
    border-radius:50px;
    margin-left: 30px;

}
#message{
    width:550px;
    height:250px;
    background-color:gray;
    
    border-radius:40px;
    margin-top:30px;
    
}
::placeholder{
    color: black;
    margin-left:20px;
}
#submit{
    width:200px;
    height:40px;
    border-radius:40px;
    margin-top:10px;
    background-color: yellow;
}
.icon{
    margin-left:250px;
    height:60%;
    background-color: black;
}
.icon img{
    height:40px;
}
#left{
    background-color:black;
    width: 650px;
    height:500px;
}
.icon h5{
    color: aliceblue;

}
.icon h2{
    color: aliceblue;
}

#lefe{
    background-color:black;
    width: 650px;
    height:500px;
    
}
#lefe img{
    height:130px;
    width: 150px;
    margin-left:300px;
    margin-top:40px;
    border-radius:50%;
    
}

